table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th,
td {
    line-height: 2;
    text-align: left;
    text-indent: 10px;
    &.left {
        text-align: left;
    }
}
tbody td:nth-of-type(4){text-align: right; padding-right: 1em;}
tbody td:nth-of-type(1){ font-weight: bold;}
thead {
    background-color: var(--primary-bg);
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {

    th,
    td {
        display: block;
    }

    /* hide header and first 2 cells of footer */
    thead {
        display: none;
    }

    td:first-child{
        background-color: var(--primary-bg);
    }
    table{
        width: 95%;
    }
    tbody td:nth-of-type(1){font-weight: bold; color: white;}
    tbody td:nth-of-type(2){ font-weight: bold;}
    tbody td:nth-of-type(4){text-align: left;}
}